<div class="card mb-4" *ngIf="book">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-right"
        src="//api.angular.schule/avatar/{{ book.rating }}">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge badge-secondary">{{ book.rating }}</span>
      </h2>
    </div>
    <p>
      <ng-container *ngFor="let x of [].constructor(book.rating)">⭐️</ng-container>
    </p>
    <p>{{ book.description }}</p>
    <p><strong>Preis:</strong> {{ book.price | currency:'EUR' }}</p>
    <p>
      <strong>Autoren:</strong>
      <ng-container *ngFor="let ba of book.authors; last as l">
        {{ ba }}<ng-container *ngIf="!l">, </ng-container>
      </ng-container>
    </p>
  </div>
</div>
